.board-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.board {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.total-container {
  display: flex;
  justify-content: center;
  /* background-image: url('../images/louis-hansel-342635-unsplash.jpg'); */
  background-image: url('../images/javier-grixo-347764-unsplash.jpg');
  /* background-image: url('../images/randy-fath-711941-unsplash.jpg'); */
  background-size: 100%;
  background-position: 50% 25%;

}
