.board-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.board {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.total-container {
  display: flex;
  justify-content: center;
}
