.player {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 50px;

  padding: 3px;
  width: 200px;
  height: 595px;
  background-color: #D3A461;
  align-items: center;
  border-radius: 6px;
  box-shadow: -1px 4px 5px #674600;
}

.player-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  /* margin-bottom: 10px; */
  margin-top: 10px;
}

.player-header h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.player  h3 {
  font-size: 20px;
}


.timer {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.timer button, h2 {
  margin: 10px;
}

.timer h2 {
  font-size: 30px;
}

.button {
  width: 100%;
  background-color: #E2D6A7;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  margin-top: 5px;
  min-height: 50px;
}

.button:active {
  box-shadow: none;
}

.in-progress {
  border: 1px solid red;
}
