.square {
  width: 73px;
  height: 73px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.square p {
  padding: 0;
  margin: 0;
}

.white-square {
  background-color: #D3A461;
}

.black-square {
  background-color: #E2D6A7;
}

.square:hover {
  background-color: pink;
}

.white {
  color: #F3EEE5;
}

.black {
  color: black;
}

.selected {
  background-color: yellow;
}

.selected:hover {
  background-color: yellow;
}
